<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<div class="headerbox">
				HIGHLAND HOMESTEAD
			</div>
			<div class="topbox">
			<nav>
	    		<ul>
	        		<li><a href="/">Home</a></li>
	        		<li><a href="/cattle">Cattle</a></li>
		        	<li><a href="/about">About</a></li>
	        		<li><a href="/contact">Contact</a></li>
	    		</ul>
			</nav>
			</div>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="mailto:highlandhomesteadks@gmail.com">email</a></li>
	        		<li>Phone: 785.485.2041</li>
	        		<li>John 3:16</li>
				</ul>
			</footer>
		</body>
	</html>

